* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

html {
    height: 100%;
}