/* Section des cours */

.cours-section {
  padding: 20px;
}

.course-box>h3 {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-item {
  display: flex;
  align-items: center;
}

h2 {
  margin: 0;
}

.dropdown-button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.course-box {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.course-ovals {
  display: flex;
}

.course-oval {
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
}

.course-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mode desktop */
@media screen and (min-width: 768px) {
  .cours-section {
    max-width: 1400px;
    margin: 0 auto;
  }

  .course-box {
    display: flex;
    flex-direction: column;
  }

  .course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .course-ovals {
    display: flex;
    flex: 1;
  }

  .course-button {
    margin-left: auto;
  }
}

.session1 {
  background-color: yellow;
}

.session2 {
  background-color: red;
}

.session4 {
  background-color: green;
}


// À revoir

/* Style pour les boutons */
.conteneur-boutons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  gap: 1em;
}

.bouton {
  background-color: #ffffff;
  border-radius: 8px;
  width: 150px;
  height: 150px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s;
}

.bouton:hover {
  transform: scale(1.05);
}

.bouton-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.bouton-title {
  font-family: 'FontGreycliff';
  font-size: 1.2em;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

/* Responsivité pour écrans plus larges */
@media screen and (min-width: 768px) {
  .bouton {
    width: 200px;
    height: 200px;
  }

  .bouton-title {
    font-size: 1.5em;
  }
}

/* Responsivité pour petits écrans */
@media screen and (max-width: 600px) {
  .bouton {
    width: 120px;
    height: 120px;
  }

  .bouton-title {
    font-size: 0.9em;
    padding: 0.4em;
  }
}

.card-contenu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s;
}

.card-front {
  background-color: #fff;
}

.card-back {
  background-color: #f8f8f8;
  transform: rotateY(180deg);
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(360deg);
}

/* Media Queries */
@media (min-width: 768px) {
  .card-contenu {
    justify-content: space-around;
  }

  .card {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .card-contenu {
    justify-content: space-between;
  }

  .card {
    width: 30%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}