/* Style général pour le contenu de la section "À propos" */
.contenu-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em;
  }
  
  .image-apropos {
    flex: 1;
    margin-right: 1em;
    max-width: 100%;
  }
  
  .image-apropos img {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
  }
  
  /* Style pour le contenu à droite */
  .about-contenu {
    flex: 2;
  }
  
  .info-additionnel {
    margin-top: 1em;
  }
  
  .info-additionnel p {
    margin: 0.5em 0;
  }

  .arriere-plan-bleu {
    background-color: #102229;
    padding: 2em;
    border-radius: 8px;
  }
  
  /* Style pour les petits écrans */
  @media screen and (max-width: 768px) {
    .contenu-about {
      flex-direction: column;
      text-align: center;
    }
  
    .image-apropos {
      margin-right: 0;
      margin-bottom: 1em;
    }
  
    .about-contenu {
      flex: none;
    }
  
    .image-apropos img {
      width: 100%;
      max-width: none;
    }
  }