// CSS POUR LE MENU EN DESKTOP ET MOVILE/ MENU BURGER


// Pour empecher de scroller quand le menu bg est ouvert
body.no-scroll {
  overflow: hidden; 
}

//  la bar de menu 
.nav-bar {
  width: 100%;
  list-style: none;
  position: relative;
  padding: 12px 20px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border: 1px solid black;
    border-radius: 9rem;
    width: 100%;
    padding: 1rem;
    padding-right: 2rem;
}

// Le texte TIM(Logo)
.logo-tim{
  position: absolute;
  left: 1rem;

}

.logo-tim a{
  font-family: "termina", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
  color: black;
  font-size: clamp(1.563rem, 1.349rem + 0.526vw, 2.188rem);
}

// La liste des pages
.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: -7px;
  transition: 0.15s ease-in-out;
  position: relative;

  color: black;
  font-family: "garamond-premier-pro-subhead", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 0.743rem + 0.632vw, 1.75rem);
}

// La ligne lorsque hover
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

// Les boutons X et du menu bg
.ouvre-menu , .ferme-menu {
  position: absolute;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.ouvre-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.ferme-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

//////////////// VERSION MOBILE - MENU BURGER ////////////////////

@media(max-width: 650px){

  // La page menu     
  .menu {
      gap: 1.2rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      height: 100vh;
      position: fixed;
      right: -100%;
      top: 0;
      z-index: 100;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(15px);
      transition: all 0.2s ease-in-out;
      border-radius: 0;
      border: 0px;
  }
  
  // Le titre TIM

  .logo-tim{
    padding-left: .5rem;
    position: static;
  }

  .logo-tim a{
    font-size: clamp(3.438rem, 2.057rem + 8.242vw, 4.375rem);
  }
  
  // La barre de pages
  .menu li {
    margin-top: 40px;
    padding-left: 0;
  }

  .menu li a {
    padding: 10px;
    margin-left: 0;
    font-size: clamp(2.5rem, 1.58rem + 5.495vw, 3.125rem);
}

  // Les icone fermer et ouvir
  .ouvre-menu , 
  .ferme-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
}
