@font-face {
    font-family: 'AppleGaramond';
    src: url("../../polices/apple_garamond/AppleGaramond-Italic.ttf");
}

@font-face {
    font-family: 'AppleGaramond-Light';
    src: url("../../polices/apple_garamond/AppleGaramond-Light.ttf");
}


h1 {
    font-family: AppleGaramond-Light;
}

h2,
h3 {
    color: white;
}

.about-contenu h2 {
    font-family: 'AppleGaramond';
    font-size: 2em;
    margin-top: 0;
}

#professeurs>h2 {
    text-align: center;
}

.info-additionnel h3 {
    font-family: 'FontGreycliffBold';
    margin-bottom: 0.5em;
}

p {
    color: white;
}