@font-face {
    font-family: 'AppleGaramond';
    src: url("polices/apple_garamond/AppleGaramond-Light.ttf");
}

@font-face {
    font-family: 'FontGreycliff';
    src: url("polices/Greycliff/Fontspring-DEMO-greycliffcf-light.otf");
}

@font-face {
    font-family: 'FontGreycliff-Light';
    src: url("polices/Greycliff/Fontspring-DEMO-greycliffcf-thin.otf");
}

@font-face {
    font-family: 'FontGreycliffBold';
    src: url("polices/Greycliff/Fontspring-DEMO-greycliffcf-bold.otf");
}

.separation-contact{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h1-Contact{
 font-family: AppleGaramond;
 color: black;
 font-size: clamp(2.5rem, 1.928rem + 2.347vw, 5.625rem);
 margin-left: 2rem;
 margin-right: 2rem;
 text-align: left;
}

.contact-courriel,
.contact-information{
margin-left: 2rem;
margin-right: 2rem;
text-align: left;
}

.h2-Contact{
color: black;
font-family: "greycliff-cf", sans-serif;
font-weight: 700;
font-style: normal;
font-size: clamp(1.25rem, 0.967rem + 1.163vw, 1.9rem);
}

.h3-Contact{
color: black;
font-family: "greycliff-cf", sans-serif;
font-weight: 100;
font-style: normal;
font-size: clamp(1.163rem, 1.123rem + 0.189vw, 1.35rem);
}

.form-contact{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.inputBox{
    padding-bottom: 2rem;
}

.inputBox span,
.span-texte{
font-family: "greycliff-cf", sans-serif;
font-weight: 400;
font-style: normal;
color: black;
}


.inputBox input,
.inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: solid 1.4px black;
    outline: none;
    background-color: transparent;
    resize: none;
}

.inputBox-bouton{
    width: 100%;
    padding: 5px 4px;
    font-size: 16px;
    margin: 10px 0;
    outline: none;
    background-color: transparent;
    resize: none;
    border: 1px solid;
    width: fit-content;
    margin-top: -2rem;
    position: absolute;
    right: 0;
    margin-right: 2rem;
    border-radius: 7px;
    border: 1px solid black;
    background: black;
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-bouton{
    border: none;
    padding: .2rem;
    background: black;
    color: white;
}


.contact-information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    padding-bottom: 2rem;
}

.contact-information-icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: .5rem;
}


.material-symbols-outlined{
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 6px;
    border-radius: 21px;
    font-size: clamp(1.25rem, 1.184rem + 0.316vw, 1.563rem);   
}

.icon-reseau{
    font-size: clamp(2.1rem, 1.184rem + 1.4vw, 2.2rem);
    width: 1em;
    height: 1em;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-reseau-svg{
    width: 60%;
    height: 60%;
    fill: white;
}

@media screen and (min-width: 768px) {
    .form-contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
    }

    .inputBox{
        width: 47%;
    }

    .inputBox.message{
width: 100%;
    }

    .inputBox-bouton{
        position: relative;
        margin-left: auto;
        margin-right: 0;;
    }

    .contact-information {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .conctact-telephone,
    .conctact-adresse,
    .conctact-reseaux{
width: 42%;
    }

}
