
.main-cours-individuel{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -2.4rem;  
}

.bouton-retour{
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.svg-bouton-retour{
    height: 21px;
    width: auto;
    transform: scaleX(-1);
    margin: -1px;
    top: 2px;
    position: relative;
    fill: white;
}

.partie1-cours-individuel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h1-cours-individuel{
    text-align: left;
    font-family: "greycliff-cf", sans-serif;
font-weight: 200;
font-style: normal;
font-size: clamp(2.5rem, 1.928rem + 2.347vw, 5.625rem);
}

.span-cours-individuel{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.info-session-cours{
    background-color: #ffde6f;
    text-align: center;
    border-radius: 1rem;
    width: 45%;
    color: #000000;
    padding: 2px 1px;
    height: 50%;
}

.info-bulle-cours{
    background-color: transparent;
    border: 1.5px solid white;
    text-align: center;
    border-radius: 1rem;
    width: 45%;
    color: #ffffff;
    padding: 2px 7px;
    height: 50%;
}

.ligne-cours{
    border-bottom: 1.5px solid white;
    margin: 1rem 0rem;
    width: 100%;
    margin-left: auto;
}

.information-cours{
    display: flex;
    flex-direction: column;
}

.texte-cours-information{
    font-family: "greycliff-cf", sans-serif;
font-weight: 200;
font-style: normal;
font-size: clamp(1.25rem, 0.967rem + 1.163vw, 1.9rem);
text-align: justify;
}

.logiciel-info{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(223 213 188 / 48%), rgb(255 255 255 / 65%));
    clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
    margin-bottom: 2rem;

}

.h2-logiciel-info{
    font-family: "greycliff-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 60%;
    margin-left: 11px;
    padding-top: 1rem;
    color: black;
    font-size: clamp(1.25rem, 0.967rem + 1.163vw, 1.9rem);
}

.image-logiciel-info{
    width: 54%;
    margin-left: 11px;
    margin-top: 11px;
    padding-bottom: 1rem;
}

@media screen and (min-width: 650px) {
    .bouton-retour,
    .svg-bouton-retour{
        display: none;
    }

    .h1-cours-individuel{
        text-align: center;
        padding-top: 2rem;   
    }

    .span-cours-individuel{
        justify-content: center;
    }

    .info-session-cours{
        padding: .2rem 3rem;
        width: fit-content; 
    }

    .info-bulle-cours{
        padding: .2rem 1rem;
        width: fit-content;
    }
        
    .image-logiciel-info{
        width: 23%;
    }
    
}

@media screen and (min-width: 1448px){

.partie1-cours-individuel{
    align-items: center;
}

.h1-cours-individuel{
    width: 75%;
}

.information-cours{
    flex-direction: row-reverse;
}

.logiciel-info {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgba(223, 213, 188, 0.48), rgba(255, 255, 255, 0.65));
    clip-path: polygon(0 0, 69% 0, 100% 166%, -3% 107%);
    margin-bottom: 2rem;
}

.image-logiciel-info{
    width: 30%;
}

}