/* Styles pour mobile (par défaut) */
.stages-section {
    padding: 20px;
    text-align: center;
}

.stages-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.stage-type, .stage-company {
    margin-bottom: 20px;
}

.stage-type h2, .stage-company h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.scroll-button {
    background-color: #0786e3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.stage-details h1 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

.stage-details p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.stage-details img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}

/* Styles pour les grands écrans (desktop) */
@media (min-width: 768px) {
    .stages-section {
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
    }

    .stages-section h1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 40px;
    }

    /* Conteneur pour centrer et aligner les sections stage-type et stage-company côte à côte */
    .stage-type, .stage-company {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    /* Nouvelle règle pour aligner les deux sections */
    .stage-wrapper {
        display: flex;
        justify-content: center;
        gap: 40px; /* Espace entre les deux éléments */
    }

    .scroll-button {
        padding: 15px;
        font-size: 1.2rem;
    }

    .description-stage{
        display: flex;
        gap: 40px;
        margin-bottom: 40px;
    }

    .stage-details h1 {
        font-size: 2.5rem;
    }

    .stage-details p {
        font-size: 1.2rem;
        max-width: 800px;
    }

    .stage-details img {
        max-width: 300px;
    }

    .filtration-stage{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 40px;
    }
}
